/gmd staging
Fully Translated/test.csv
splits/test.txt
splits/results.txt
/DDON-Translation-CSV
Barebones Glossary for AI/New folder/en_US.aff
Barebones Glossary for AI/New folder/en_US.dic
Barebones Glossary for AI/New folder/English only.csv
Barebones Glossary for AI/New folder/gmd.csv
Barebones Glossary for AI/New folder/check_spelling_and_misspellings.py
gmd.zip
/Tools/ddon-data
ddon
Dialogue Editor/keys.json
Dialogue Editor/cache.json
Dialogue Editor/prefetch_cache.json
/Dialogue Editor/assets
Dialogue Editor/keys.json
Dialogue Editor/__pycache__/
Dialogue Editor/user_settings.json
Dialogue Editor/config/*/user_settings.json
Dialogue Editor/config/*/memory.json
Dialogue Editor/config/*/cache.json
Dialogue Editor/config/*/prefetch_cache.json
Dialogue Editor/config/*/review_queues_cache.json
Dialogue Editor/config/*/review_items_cache.json
Dialogue Editor/config/*/translation_memory.json.backup
Dialogue Editor/translation_data/
